@charset "ISO-8859-1";

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-size: auto;
}

.container {
    width: 300px;
    padding: 20px;
    border-radius: 50px; /* Border radius to make it oval-ish */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

h1 {
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px); /* Account for padding */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 25px; /* Border radius to make it oval-ish */
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 25px; /* Border radius to make it oval-ish */
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
